.container-legende{
    padding: 15px 0 0 15px;
    border-radius: 20px;
    font-size: 13px;
}
.container-activity{
    width: 100%;
    height: 600px;
    display: flex;
    gap: 25px;
}
.container-vieux-port{
    width: 23%;
    box-shadow: 0px 0px 20px #c0c0c0;
    overflow: hidden;
    border-radius: 15px;
}
.container-activity img {
    width: 100%;
    object-fit: cover;
}
.container-vieux-port img {
    height: 550px;
}
.activity-title{
    padding: 3% 0 3% 0;
}
img.fort{
    height: 250px;
}
.container-fort{
    box-shadow: 0px 0px 20px #c0c0c0;
    overflow: hidden;
    border-radius: 15px;
    height: 50%;
}
.container-frioul{
    box-shadow: 0px 0px 20px #c0c0c0;
    overflow: hidden;
    border-radius: 15px;
    height: 42%;
}
img.frioul{
    height: 200px;
}
.container-half{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container-half-last{
    box-shadow: 0px 0px 20px #c0c0c0;
    overflow: hidden;
    border-radius: 15px;
    height: 47%;
}
.img-equal{
    height: 225px;
}
@media (max-width: 992px){
    .container-activity{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 0% 5% 0% 5%;
    }
    .container-vieux-port{
        width: 100%;
        height: 300px;
    }
    .container-activity img{
        height: 225px;
    }
    .container-legende{
        padding: 25px 0 0 15px;
        font-size: 16px;
    }
    .container-fort{
        height: 300px;
    }
    .container-frioul{
        height: 300px;
    }
    .container-half-last{
        height: 300px;
    }
    .container-half{
        gap: 25px;
    }
    .activity-title{
        padding: 3% 0 3% 5% ;
    }
}