.container-left{
    width: 65%;
    height: 650px;
    border-radius: 20px;
    background: #F2F2F2;
    float: left;
}
.container-principal{
    width: 100%;
    height: 650px;
}
.title-container{
    padding: 3% 0% 3% 5%;
    font-weight: bold;
}
.card{
    width: 29%;
    height: 210px;
    background: white;
    border-radius: 20px;
}
.container-card{
    display: flex;
    justify-content: space-evenly;
}
.container-card-top{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 35px;
}
.seemore{
    padding:4% 0% 0% 5%;
}
.img-card{
    object-fit: cover;
    width: 100%;
    height: 120px;
    border-radius: 20px 25px 0 0;
    padding-right: 10px;
    margin: 5px 0 0 5px;
}
.title-card{
    font-size: 15px;
    padding: 3% 0% 2% 8%;
}
.price-card{
    padding: 0% 0% 0% 8%;
    font-size: 13px;
}
.colorblue{
    color: #0065fc;
}
.colorgrey{
    color: #d6d1d1;
}
.colorblack{
    color: black;
    font-size: 20px;
    
}
.star{
    padding: 2% 0% 0% 8%;
    font-size: 11px;
}
.container-right{
    background: #F2F2F2;
    height: 650px;
    border-radius: 20px;
    width: 30%;
    float: right;
    padding-left: 2%;
    padding-right: 2%;
}
.title-container-popular{
    padding: 7% 0% 11% 0%;
    font-weight: bold;
}
.img-card-popular{
    object-fit: cover;
    height: 140px;
    width: 110px;
    border-radius: 20px 0 0 20px;
    padding: 3%;
}
.card-popular{
    
    border: 2px solid white;
    margin-bottom: 35px;
    width: 100%;
    height: 145px;
    background: white;
    border-radius: 20px;
    display: flex;
}
.price-card-popular{
    padding: 6% 0% 0% 8%;
    font-size: 13px;
}
.star-popular{
    padding: 25% 0% 0% 8%;
    font-size: 11px;
}
.title-popular{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(min-width:1920px) {
    p.seemore{
        padding:2% 0% 0% 5%;
    }
}
@media(max-width:992px){
    .container-principal{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .container-left{
        width: 100%;
        height: auto;
        order: 2;
        background: none;
        padding: 0% 5% 0% 5%;
    }
    .title-container-popular{
        padding: 7% 0% 10% 3%;
    }
    .colorblack{
        margin-right: 10px;
    }
    .container-card-top{
        display: flex;
        flex-direction: column;
    }
    .img-card{
        height: 250px;
    }
    .card{
        width: 100%;
        height: 370px;
        margin-bottom: 25px;
        box-shadow: 0px 0px 20px #c0c0c0;
    }
    .container-card{
        display: block;
    }
    .container-right{
        width: 100%;
        margin-bottom: 25px;
        padding: 0% 5% 0% 5%;
        height: auto;
    }
  
}
@media(max-width: 492px){
    .img-card {
        height: 150px;
    }
    .card{
        height: 250px;
    }
  
}